body {
    height: 100vh;
    font-family: 'Times New Roman';
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('../Assets/loginpic.jpg');
    overflow:hidden;
}

.login-box {
    background: rgba(117, 168, 213, 0.658);
    color: white;
    padding: 30px;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.7);
    text-align: center;
    font-size: x-large;
    font-style: italic;
}


input {
    display: block;
    width: 90%;
    margin-top: 10px;
    padding: 10px;
    font-size: 1rem;
    border:none;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.7);
}

button {
    padding: 10px 20px;
    margin-top: 10px;
    font-size: 1rem;
    background-color: rgb(194, 213, 21);
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: yellow;
}

@media (max-width: 768px) {
    .login-box {
        min-width: 45vw;
        padding: 50px 20px;
        padding: 40px;
        font-size: large;
    }
    input, button {
        width: 90%;
        font-size: 1rem;
    }
}