body {
    height: 100vh;
    font-family: 'Times New Roman';
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('https://images.unsplash.com/photo-1682437180059-97bf6f293d85?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8aW5kaWFuJTIwbGFuZHNjYXBlfGVufDB8fDB8fHww');
    overflow:hidden;
}

.login-box {
    background-image: url('https://i.pinimg.com/1200x/00/56/1a/00561a1c82b2d112fd87c75404ba241b.jpg');
    color:yellow;
    padding: 30px;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.7);
    text-align: center;
    font-style: italic;
}

input {
    background-color: #212121;
    color:gold;
    display: block;
    width: 92%;
    margin-top: 10px;
    padding: 10px;
    font-size: 1rem;
    border:none;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.7);
    transition: all 0.5s ease;
}

input::placeholder {
    color: #e8c7c7;
}

button {
    padding: 10px 20px;
    margin: auto auto;
    margin-top: 10px;
    width: 70%;
    font-size: 1rem;
    font-weight: bold;
    background-color: #FFEB3B ;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.5s ease;
}

button:hover {
    filter: brightness(120%);
    background-color: orange;
    transform: scale(1.09);
}

input:hover {
    filter: brightness(120%);
    transform: scale(1.09);
}

@media (max-width: 768px) {
    body{
        background-position-x: center;
    }
    .login-box {
        width: 90vw;
        max-width: 220px;
        padding: 20px;
        font-size: large;
    }
    input, button {
        width: 90%;
        font-size: 1rem;
        margin: auto auto;
        margin-top: 10px;
    }
}